.card {
  display: flex;
  flex-direction: column;
  height: 10rem;
  width: 20rem;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0px 0px 12px 1px rgba(255, 255, 255, 0.6);
  margin: 0 1rem 1rem 0;

  * {
    @apply p-2 mb-2 text-black;
    font-family: Arial, Helvetica, sans-serif;
  }

  .proj-title {
    @apply text-2xl;
  }

  .proj-desc {
    @apply text-base;
  }
}

.card.archive {
  background: #ccc;

  * {
    color: #444;
  }
}

.card.archive > .proj-title::before {
  content: "📦";
  margin-right: 4px;
}
