.card {
  display: flex;
  flex-direction: column;
  height: 10rem;
  width: 25rem;
  background-color: #fff;
  border-radius: 25px;
  border: 4px solid gray;
  box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.8);
  margin: 1rem;

  * {
    @apply p-2 mb-2 text-black;
    font-family: Arial, Helvetica, sans-serif;
  }

  .proj-title {
    @apply text-2xl;
  }

  .proj-desc {
    @apply text-base;
  }
}

.card.archive {
  filter: brightness(50%);
}
