:root {
  --primary-color: #3498db;
  --link-color: #3498db;
  --primary-color-d: #d2f4fa;
  --hover-color: #66c2ff;
  --sub-bg: white;
  --bg-color: #e0f1ff;
  --bg-secondary: #ebf9ff;
  --shadow-color: hsl(205, 37%, 73%);
  --text-color: #44b4e0;
  --text-color-d: #44b4e0;
}
