@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply overflow-x-hidden overflow-y-scroll bg-gray-800 bg-cover m-0 p-0;
}

a {
  -moz-transition: border-color 0.2s ease-in-out;
  -webkit-transition: border-color 0.2s ease-in-out;
  -ms-transition: border-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
  border-bottom: dotted 2px; /* If this was set to 1px, then phantom underlines will appear in my integrated 
  display when showing the project links, idk why but this workaround just work */
  color: inherit;
  outline: 0;
  text-decoration: none;
}

a:hover {
  border-color: transparent;
}

::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffff11;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #b6b6b6;
}

/* TODO: Add (Google?) Fonts
TODO: Add ease-in animations to every layer
*/
