@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply overflow-x-hidden overflow-y-scroll bg-cover;
}

* {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  scrollbar-width: thin;
  scrollbar-color: #007 #aaaaaa;
}

/* Define transition animation */

.page-enter-active {
  transition: all 0.6s cubic-bezier(0.1, 0.9, 0.2, 1);
}

.page-leave-active {
  transition: all 0.1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

.page-enter-from {
  transform: translateY(8rem);
  opacity: 0;
}

.page-leave-to {
  transform: translateY(-8rem);
  opacity: 0;
}

/* Link hover tips */

a {
  -moz-transition: border-color 0.2s ease-in-out;
  -webkit-transition: border-color 0.2s ease-in-out;
  -ms-transition: border-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
  border-bottom: dotted 2px; /* If this was set to 1px, then phantom underlines will appear in my integrated 
  display when showing the project links, idk why but this workaround just work */
  color: var(--secondary-color);
  outline: 0;
  text-decoration: none;
}

a:hover {
  border-color: transparent;
}

/* TODO: 主题色 */