@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply overflow-x-hidden overflow-y-scroll bg-gray-800 bg-cover m-0 p-0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #b6b6b6;
}
