.layer {
  @apply flex flex-row h-dvh w-dvw items-center justify-between text-white;
  width: 80vw;

  * {
    z-index: 2;
  }
}

.layer-name {
  @apply text-4xl;
  flex: 2;
}

.layer-content {
  @apply flex flex-col;
  flex: 1;

  * {
    margin-bottom: 1rem;
  }
}

.layer-content > .visible {
  opacity: 1;
  transform: none;
}

/*

.layer::after {
  position: absolute;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: do;
  border-width: 100vh 70.5vw 0 0;
  border-color: #7048e8 transparent transparent transparent;
}

*/

.proj {
  @apply flex flex-col h-dvh w-dvw
   text-white;
  width: calc(80vw + 1rem); /* leave 1rem for the padding below*/
}

.proj-name {
  @apply text-4xl;
  padding-bottom: 1rem;
  margin: 20vh 0 1rem 0;
  border-bottom: solid 2px;
}

.proj-content {
  @apply flex flex-wrap overflow-y-auto overflow-hidden;
  padding: 1rem;

  .card {
    flex: 1 0 auto;
  }
}

/* TODO: Tailwindize the CSS files (or re-cssize em?)
TODO: Add background to each layer
TODO: Add diagonal lines to the left-middle side of each layer (except projects)
*/
