.proj {
  @apply flex flex-col h-dvh w-dvw
   text-white;
  width: calc(80vw + 1rem); /* leave 1rem for the padding below*/
}

.proj-name {
  @apply text-4xl;
  padding-bottom: 1rem;
  margin: 20vh 0 1rem 0;
  border-bottom: solid 2px;
}

.proj-content {
  @apply flex flex-wrap overflow-y-auto overflow-hidden;
  padding: 1rem;

  .card {
    flex: 1 0 auto;
  }
}

/* TODO: 你到底用不用Tailwind啊？？？？？ */
